@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.75rem;
  --background: oklch(100% 0 0);
  --foreground: oklch(12.94% 0.0273 261.67);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(12.94% 0.0273 261.67);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(12.94% 0.0273 261.67);
  --primary: oklch(54.09% 0.2468 292.95);
  --primary-foreground: oklch(98.43% 0.0017 247.84);
  --secondary: oklch(96.71% 0.0029 264.54);
  --secondary-foreground: oklch(54.09% 0.2468 292.95);
  --muted: oklch(96.71% 0.0029 264.54);
  --muted-foreground: oklch(55.13% 0.0233 264.36);
  --accent: oklch(96.71% 0.0029 264.54);
  --accent-foreground: oklch(54.09% 0.2468 292.95);
  --destructive: oklch(63.68% 0.2078 25.33);
  --border: oklch(92.78% 0.0058 264.53);
  --input: oklch(92.78% 0.0058 264.53);
  --ring: oklch(54.09% 0.2468 292.95);
  --chart-1: oklch(67.72% 0.1571 35.19);
  --chart-2: oklch(63.09% 0.1013 183.49);
  --chart-3: oklch(37.87% 0.044 225.54);
  --chart-4: oklch(83.36% 0.1186 88.15);
  --chart-5: oklch(78.34% 0.1261 58.75);
  --sidebar: oklch(98.43% 0.0017 247.84);
  --sidebar-foreground: oklch(12.94% 0.0273 261.67);
  --sidebar-primary: oklch(54.09% 0.2468 292.95);
  --sidebar-primary-foreground: oklch(98.43% 0.0017 247.84);
  --sidebar-accent: oklch(96.71% 0.0029 264.54);
  --sidebar-accent-foreground: oklch(54.09% 0.2468 292.95);
  --sidebar-border: oklch(92.78% 0.0058 264.53);
  --sidebar-ring: oklch(54.09% 0.2468 292.95);
}

.dark {
  --background: oklch(12.94% 0.0273 261.67);
  --foreground: oklch(98.43% 0.0017 247.84);
  --card: oklch(54.09% 0.2468 292.95);
  --card-foreground: oklch(98.43% 0.0017 247.84);
  --popover: oklch(54.09% 0.2468 292.95);
  --popover-foreground: oklch(98.43% 0.0017 247.84);
  --primary: oklch(92.78% 0.0058 264.53);
  --primary-foreground: oklch(54.09% 0.2468 292.95);
  --secondary: oklch(27.84% 0.0296 256.85);
  --secondary-foreground: oklch(98.43% 0.0017 247.84);
  --muted: oklch(27.84% 0.0296 256.85);
  --muted-foreground: oklch(54.09% 0.2468 292.95);
  --accent: oklch(27.84% 0.0296 256.85);
  --accent-foreground: oklch(98.43% 0.0017 247.84);
  --destructive: oklch(39.59% 0.1331 25.72);
  --border: oklch(27.84% 0.0296 256.85);
  --input: oklch(27.84% 0.0296 256.85);
  --ring: oklch(49.07% 0.2413 292.59);
  --chart-1: oklch(52.92% 0.1931 262.13);
  --chart-2: oklch(69.83% 0.1337 165.46);
  --chart-3: oklch(78.34% 0.1261 58.75);
  --chart-4: oklch(61.92% 0.2037 312.73);
  --chart-5: oklch(61.23% 0.2093 6.39);
  --sidebar: oklch(54.09% 0.2468 292.95);
  --sidebar-foreground: oklch(98.43% 0.0017 247.84);
  --sidebar-primary: oklch(52.92% 0.1931 262.13);
  --sidebar-primary-foreground: oklch(98.43% 0.0017 247.84);
  --sidebar-accent: oklch(27.84% 0.0296 256.85);
  --sidebar-accent-foreground: oklch(98.43% 0.0017 247.84);
  --sidebar-border: oklch(27.84% 0.0296 256.85);
  --sidebar-ring: oklch(49.07% 0.2413 292.59);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
